WCFAssignment/WeatherService/WeatherClient/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WeatherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWeatherService_CelciusToFarenheit_InputMessage">
    <wsdl:part name="parameters" element="tns:CelciusToFarenheit" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_CelciusToFarenheit_OutputMessage">
    <wsdl:part name="parameters" element="tns:CelciusToFarenheitResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_FarenheitToCelcius_InputMessage">
    <wsdl:part name="parameters" element="tns:FarenheitToCelcius" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_FarenheitToCelcius_OutputMessage">
    <wsdl:part name="parameters" element="tns:FarenheitToCelciusResponse" />
  </wsdl:message>
  <wsdl:portType name="IWeatherService">
    <wsdl:operation name="CelciusToFarenheit">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/CelciusToFarenheit" message="tns:IWeatherService_CelciusToFarenheit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/CelciusToFarenheitResponse" message="tns:IWeatherService_CelciusToFarenheit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FarenheitToCelcius">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/FarenheitToCelcius" message="tns:IWeatherService_FarenheitToCelcius_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/FarenheitToCelciusResponse" message="tns:IWeatherService_FarenheitToCelcius_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWeatherService" type="tns:IWeatherService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CelciusToFarenheit">
      <soap:operation soapAction="http://tempuri.org/IWeatherService/CelciusToFarenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FarenheitToCelcius">
      <soap:operation soapAction="http://tempuri.org/IWeatherService/FarenheitToCelcius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeatherService">
    <wsdl:port name="BasicHttpBinding_IWeatherService" binding="tns:BasicHttpBinding_IWeatherService">
      <soap:address location="http://localhost:8733/WeatherService/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>